In [1]:
import pandas as pd
import numpy as np
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import KNNImputer,SimpleImputer,IterativeImputer, MissingIndicator

/tmp/ipykernel_52328/979654110.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv("../Datasets/Demographic_Education_Dataset_Missing.csv")
df.head(10)

   gender  location income_level education_level  target
0    Male     Rural          Low             NaN       1
1  Female  Suburban       Medium             NaN       1
2    Male       NaN          Low     High School       0
3  Female     Rural          NaN          Master       0
4  Female     Rural         High             NaN       0
5     NaN     Urban          Low     High School       1
6  Female  Suburban          NaN        Bachelor       1
7     NaN  Suburban       Medium          Master       1
8  Female       NaN       Medium     High School       1
9  Female     Rural          NaN        Bachelor       1

In [3]:
df.isnull().sum()

gender             14
location           11
income_level       15
education_level    10
target              0
dtype: int64

In [4]:
model = MissingIndicator()
 
model.fit_transform(df)

array([[False, False, False,  True],
       [False, False, False,  True],
       [False,  True, False, False],
       [False, False,  True, False],
       [False, False, False,  True],
       [ True, False, False, False],
       [False, False,  True, False],
       [ True, False, False, False],
       [False,  True, False, False],
       [False, False,  True, False],
       [ True, False, False, False],
       [ True, False, False, False],
       [False, False,  True, False],
       [False,  True, False, False],
       [False,  True, False, False],
       [ True, False, False, False],
       [False, False,  True, False],
       [False, False, False,  True],
       [False, False,  True, False],
       [False, False,  True, False],
       [ True, False, False, False],
       [False,  True, False, False],
       [False, False,  True, False],
       [False, False,  True, False],
       [False,  True, False, False],
       [False, False,  True, False],
       [False, False, False,  True],
       [ True, False, False, False],
       [False, False,  True, False],
       [ True, False, False, False],
       [ True, False, False, False],
       [ True, False, False, False],
       [False, False,  True, False],
       [False,  True, False, False],
       [False, False, False,  True],
       [ True, False, False, False],
       [False, False, False,  True],
       [ True, False, False, False],
       [False, False, False,  True],
       [False, False,  True, False],
       [False,  True, False, False],
       [False,  True, False, False],
       [False,  True, False, False],
       [False, False,  True, False],
       [False, False,  True, False],
       [False, False, False,  True],
       [ True, False, False, False],
       [False, False, False,  True],
       [ True, False, False, False],
       [False,  True, False, False]])

In [5]:
imputer = SimpleImputer(strategy='most_frequent')

df = imputer.fit_transform(df)

df = pd.DataFrame(df)
df

         0         1       2            3  4
0     Male     Rural     Low       Master  1
1   Female  Suburban  Medium       Master  1
2     Male  Suburban     Low  High School  0
3   Female     Rural  Medium       Master  0
4   Female     Rural    High       Master  0
5     Male     Urban     Low  High School  1
6   Female  Suburban  Medium     Bachelor  1
7     Male  Suburban  Medium       Master  1
8   Female  Suburban  Medium  High School  1
9   Female     Rural  Medium     Bachelor  1
10    Male     Urban  Medium     Bachelor  0
11    Male  Suburban  Medium     Bachelor  1
12  Female  Suburban  Medium       Master  0
13    Male  Suburban  Medium  High School  0
14  Female  Suburban     Low       Master  0
15    Male     Rural  Medium  High School  0
16    Male  Suburban  Medium  High School  0
17    Male     Rural    High       Master  0
18  Female  Suburban  Medium     Bachelor  1
19    Male  Suburban  Medium       Master  1
20    Male     Urban     Low  High School  1
21    Male  Suburban  Medium  High School  0
22    Male  Suburban  Medium  High School  0
23    Male     Urban  Medium       Master  0
24    Male  Suburban  Medium     Bachelor  0
25  Female     Rural  Medium       Master  1
26    Male  Suburban    High       Master  1
27    Male     Rural     Low     Bachelor  0
28  Female  Suburban  Medium     Bachelor  1
29    Male     Rural    High     Bachelor  1
30    Male     Rural  Medium       Master  0
31    Male  Suburban  Medium     Bachelor  0
32  Female     Urban  Medium     Bachelor  1
33    Male  Suburban    High       Master  0
34    Male  Suburban     Low       Master  0
35    Male     Urban     Low     Bachelor  0
36    Male     Urban  Medium       Master  1
37    Male  Suburban  Medium  High School  1
38    Male     Urban     Low       Master  0
39  Female     Rural  Medium       Master  0
40    Male  Suburban  Medium       Master  0
41  Female  Suburban     Low  High School  1
42    Male  Suburban     Low  High School  1
43    Male  Suburban  Medium       Master  1
44  Female  Suburban  Medium  High School  0
45  Female  Suburban    High       Master  1
46    Male     Urban  Medium       Master  1
47    Male  Suburban    High       Master  0
48    Male     Rural  Medium       Master  0
49  Female  Suburban  Medium       Master  0

In [6]:
df.isnull().sum()

0    0
1    0
2    0
3    0
4    0
dtype: int64