In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
np.random.seed(42)
data = {'category_1': np.random.choice(['A', 'B', np.nan, 'D', 'E'], size=50),
        'category_2': np.random.choice(['X', 'Y', np.nan, 'Z'], size=50),
        'target': np.random.randint(1, 10, 50)}

df = pd.DataFrame(data)
df

   category_1 category_2  target
0           D          Z       9
1           E        nan       9
2         nan          Z       1
3           E        nan       9
4           E          Z       7
5           B          X       9
6         nan          Z       8
7         nan        nan       1
8         nan        nan       8
9           E          Y       8
10          D          X       3
11        nan          Z       1
12          E          Y       8
13          B          Z       3
14          D          Z       3
15          B          Y       1
16          D          Y       5
17          E          Y       7
18          A          Y       9
19          D          Y       7
20          B          Z       9
21          E          Y       8
22          D          X       2
23          A        nan       1
24          A          Y       7
25        nan          Y       7
26        nan          Z       8
27          B          Y       5
28          D          Y       3
29          D          Y       8
30        nan          Z       6
31          D          Y       3
32          D        nan       1
33          A          Z       3
34        nan        nan       5
35          E          Z       3
36        nan          Y       1
37          E        nan       5
38          A          Z       7
39          B          X       7
40          D          Y       9
41          A          Z       3
42          D          X       7
43          B          Z       1
44          B          X       4
45          A          Y       4
46          B        nan       5
47          E          X       7
48          B          Z       7
49          D          Y       4