In [1]:
import pandas as pd
import numpy as np

from sklearn.impute import SimpleImputer

# Création d'un dataset avec valeurs manquantes catégoriques
np.random.seed(42)
data = {'gender': np.random.choice(['Male', 'Female', np.nan], size=50),
        'location': np.random.choice(['Urban', 'Suburban', 'Rural', np.nan], size=50),
        'income_level': np.random.choice(['Low', 'Medium', 'High', np.nan], size=50),
        'education_level': np.random.choice(['High School', 'Bachelor', 'Master', np.nan], size=50),
        'target': np.random.randint(0, 2, 50)}

df = pd.DataFrame(data)
df.replace('nan', np.nan, inplace=True)

In [2]:
df.head(10)

   gender  location income_level education_level  target
0     NaN  Suburban          Low     High School       0
1    Male     Urban       Medium          Master       1
2     NaN  Suburban         High             NaN       1
3     NaN     Urban          Low             NaN       1
4    Male  Suburban          NaN        Bachelor       1
5    Male       NaN       Medium          Master       0
6     NaN       NaN          Low          Master       1
7  Female     Rural          NaN     High School       0
8     NaN       NaN          NaN          Master       0
9     NaN     Rural          NaN     High School       1

In [3]:
df.isnull().sum()

gender             20
location           16
income_level       14
education_level     9
target              0
dtype: int64

In [4]:
# Utiliser SimpleImputer sans spécifier missing_values
imputer = SimpleImputer(strategy='most_frequent')


df = imputer.fit_transform(df)

df = pd.DataFrame(df)
df

         0         1       2            3  4
0   Female  Suburban     Low  High School  0
1     Male     Urban  Medium       Master  1
2   Female  Suburban    High       Master  1
3   Female     Urban     Low       Master  1
4     Male  Suburban     Low     Bachelor  1
5     Male  Suburban  Medium       Master  0
6   Female  Suburban     Low       Master  1
7   Female     Rural     Low  High School  0
8   Female  Suburban     Low       Master  0
9   Female     Rural     Low  High School  1
10  Female  Suburban     Low       Master  1
11  Female     Urban     Low     Bachelor  1
12    Male  Suburban     Low       Master  1
13  Female     Rural    High  High School  1
14  Female     Rural     Low  High School  1
15    Male  Suburban     Low     Bachelor  1
16  Female     Urban     Low       Master  1
17  Female  Suburban    High       Master  0
18  Female  Suburban     Low     Bachelor  1
19  Female  Suburban     Low       Master  1
20    Male  Suburban     Low       Master  0
21    Male  Suburban     Low  High School  1
22  Female  Suburban     Low       Master  0
23  Female  Suburban     Low       Master  0
24    Male  Suburban    High     Bachelor  1
25    Male  Suburban    High     Bachelor  0
26    Male  Suburban    High       Master  0
27  Female  Suburban     Low  High School  0
28  Female     Urban     Low       Master  0
29  Female     Rural    High       Master  1
30  Female  Suburban    High       Master  0
31  Female  Suburban     Low       Master  1
32  Female  Suburban    High  High School  0
33  Female  Suburban     Low       Master  0
34  Female  Suburban  Medium  High School  0
35  Female  Suburban    High       Master  0
36  Female  Suburban  Medium       Master  1
37  Female  Suburban     Low     Bachelor  1
38    Male     Rural     Low  High School  0
39  Female  Suburban    High       Master  0
40    Male     Rural     Low       Master  1
41  Female  Suburban     Low  High School  0
42  Female  Suburban     Low       Master  0
43    Male     Rural  Medium       Master  0
44    Male  Suburban     Low  High School  1
45  Female     Urban     Low       Master  1
46  Female  Suburban    High  High School  1
47    Male  Suburban    High       Master  0
48  Female     Urban  Medium       Master  0
49  Female  Suburban     Low       Master  1

In [5]:
df.isnull().sum()

0    0
1    0
2    0
3    0
4    0
dtype: int64