<a href="https://colab.research.google.com/github/ElieLECAS/ML_avance/blob/maxime/feature_selection/regularisation/lasso_ridge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import sys
from sklearn.linear_model import Lasso, Ridge
import pandas as pd

sys.path.append('../')
from data.utils import get_data

X, _, y, _ = get_data()

/var/folders/zp/c97k147160ddnklbfc2rk3hr0000gn/T/ipykernel_58100/933781056.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# Lasso

Passe les features moins importantes à 0

In [10]:
reg = Lasso()
reg.fit(X, y)

pd.DataFrame(reg.coef_, columns={'val': X.columns}).sort_values(by='val')

            val
6   -772.182271
5   -731.509917
1   -191.238905
7      0.000000
0    260.030351
2    334.944950
8    416.861946
3    536.852094
4  23816.143622

# Ridge

Tend les features vers 0 sans les mettre à 0

In [9]:
reg = Ridge()
reg.fit(X, y)

pd.DataFrame(reg.coef_, columns={'val': X.columns}).sort_values(by='val')

            val
6   -495.676969
5   -465.647686
1   -189.272868
0    259.896811
7    271.926147
2    334.797606
3    537.573367
8    689.398509
4  23693.349683